@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Twitter";
    Layout = "Shared/_Layout";
        
    // This is to parse the current page from the query string, defaulting to 1 if parsing fails
    int currPage;
    if (!int.TryParse(Request.Query["page"], out currPage))
    {
        currPage = 1; // Default to 1 if parsing fails
    }

    int nextPage = currPage + 1; // Calculate the next page
    int prevPage = currPage > 1 ? currPage - 1 : 1; // This is to ensure that the previous page doesn't go below 1
}

<div>
    <partial name ="Shared/_NootBoxPartial" model="Model.CheepInput"/>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li class="Noot">
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                    
                    @if (User.Identity.IsAuthenticated && User.Identity.Name != cheep.Author)
                    {
                        <button onclick="toggleLabel(event)" class="FollowButtonPublic" >Follow</button>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    @if (currPage > 1) {
    <button onclick="document.location='/?page=@prevPage'" @if (currPage <= 1) { <text>disabled</text> } class="PageButton" >Previous Page</button>
    }
    <button onclick="document.location='/?page=@nextPage'" style="float: right;" class="PageButton">Next Page</button>
</div>
<script> 
    function toggleLabel(event) {
    console.log("FUCK")
    const btn = event.target;
    if (btn.innerText === 'Follow') {
        btn.innerText = 'Unfollow';
    } else {
        btn.innerText = 'Follow';
    }
}</script>