@using Chirp.Web
@using Microsoft.AspNetCore.Identity

@model NootBoxModel

<!--This is checking if the user is authenticated, and if that's the case it should contain a cheepbox/nootbox -->
@if (User.Identity!.IsAuthenticated)
{
    <head>
        <link href="~/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <div class="cheepbox">
        <h3>Noot noot? @(User.Identity.Name)?</h3>
        <form asp-page="post" method="post">
            <div asp-validation-summary="All"></div>
            <input style="float: left" type="text" asp-for="Text" class="form-control" >
            <span asp-validation-for="Text"></span>
            <input type="submit" value="Share">
        </form>
    </div>
    </body>
}